/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
/*--------------*/
:root{
    --back-color: #1F1F1F;
    --font-color: #ffffff;
    --selected-day: #589C5F;
    --modal-color: #363434;
    --input-color: #525252;
}
*{
    background-color: var(--back-color);
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
}
h1{
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}
.header__buttons{
    display: flex;
    justify-content: center;
}
button{
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer; 
}
/*------------↓↓↓ TO FIX ↓↓↓-------------*/
.calendar{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.calendar__weekdays{
    width: 100%;
    display: flex;
    font-size: 1em;
    font-weight:bold;
    color:var(--font-color);
    margin: 0.31rem;
    justify-content: center;
}
.calendar__weekdays div{
    width: 100px;
    padding: 20px;
}
.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.day{
    width: 4.25rem;
    padding: 0.625rem;
    height: 5.25rem;
    font-size: 1.2rem;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0.31rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*---------------------------------------*/
.header__buttons{
    display: flex;
    justify-content: center;
    color: white;
}
.header__date-title{
    font-size: 1.8rem;
    font-weight: 500;
}
.btn.prev-btn, .btn.next-btn {
    margin: 0em 5em;
}
.selected-day{
    background-color: var(--selected-day);
    border-radius: 31px;
    width: 40px;
}
.hidden{
    display: none;
}
/*---------------------------------------*/
.padding {
    cursor: default !important;
    background-color: var(--back-color) !important;
    box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: var(--back-color)!important;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}
input{
    background-color: var(--modal-color);
}
#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
    border: 2px solid red;
}
#cancelButton, #deleteButton {
    background-color: #d36c6c;
}
#saveButton, #closeButton {
    background-color: #92a1d1;
}
#eventText {
    font-size: 14px;
}
#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
}