/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
/*--------------*/
:root{
    --back-color: #1F1F1F;
    --font-color: #CCCCCC;
    --selected-day: #589C5F;
    --modal-color: #363434;
    --input-color: #525252;
}
*{
    background-color: var(--back-color);
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
}
.calendar__weekdays{
    display: flex;
}
.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 2em 3em;
    text-align: center;
}
