/* TYPOS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

/* font-family: 'Inter', sans-serif; */

/* COMMON */
@import "./calendar.css";

/* MODAL
@import "./modal.css";*/